body {
  margin: 70px;
  background-color: rgb(186, 193, 151);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  margin-bottom: 1.5rem;
  margin-left: 8rem;
}
label {
  font-size: 1.1rem;
}
.form-group {
  margin-bottom: 1rem;
  max-width: 50rem;
  margin-left: 8rem;
}
button {
  margin-top: 5px;
  border-radius: 5px;
  height: 2.1rem;
  margin-left: 8rem;
}
